* {
  box-sizing: border-box;
}

body, html {
  padding: 0%;
  margin: 0%;
  height: 100%;
  font-size: 100%;
}

body {
  background-color: #dfdfdf;
}

@media only screen and (max-device-width: 700px) {
  body {
    font-size: 50%;
  }
  body #top .title {
    padding: 1em 10px 1em 10px;
  }
  #output .stop {
    width: 100vw;
  }
  body #top table {
    margin-top: 3%;
  }
  table.stop tr td {
    width: 30vw;
  }
}

#top {
  width: 100%;
  border-bottom-style: solid;
}

#top table {
  margin-top: 17%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.title {
  font-size: 2.7em;
  background-color: transparent;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0px;
  padding: 0.3em 10px 0.3em 10px;
}

#time {
  left: 60%;
  width: 50%;
  text-align: center;
}

#mid {
  top: 10%;
  width: 100%;
  height: 90%;
  margin: 0;
}

.stopName {
  width: 100vw;
  font-size: 350%;
  padding-bottom: 0px;
  padding-top: 10px;
  height: 6%;
  margin: 0;
  padding-bottom: 5px;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 500;
  padding-left: 10px;
}

.stop {
  border-collapse: collapse;
  width: 49vw;
}

.busNo {
  font-size: 400%;
  color: white;
  border-bottom-style: solid;
  /* Venu suggestion */
  font-family: Montserrat, Helvetica, sans-serif;
  text-align: center;
  /* Venu suggestion */
  background-color: #e21111;
  width: 20%;
}

.t1 {
  font-size: 400%;
  border-right-style: solid;
  border-left-style: solid;
  font-family: Montserrat, Helvetica, sans-serif;
  text-align: center;
  border-bottom-style: solid;
  border-color: white;
  width: 18%;
}

.t2 {
  font-size: 350%;
  font-family: Montserrat, Helvetica, sans-serif;
  text-align: center;
  border-bottom-style: solid;
  border-color: white;
  width: 12.5%;
}

.m {
  font-size: 70%;
}

#top table {
  float: right;
  border-style: solid;
  border-color: black;
  margin-right: 10%;
}

#top table tr {
  text-align: left;
  padding: 5px;
  border-width: 0px;
  font-size: 200%;
  font-family: Montserrat;
}

#top table tr:nth-of-type(1) {
  background-color: #99ff99;
}

#top table tr:nth-of-type(2) {
  background-color: #ffff99;
}

#top table tr:nth-of-type(3) {
  background-color: #ff9999;
}

.load-unknown {
  background-color: lightcyan;
}

.load-SEA {
  background-color: #99ff99;
}

.load-SDA {
  background-color: #ffff99;
}

.load-LSD {
  background-color: #ff9999;
}
